/*
* 	360Link Reset > linkresolver.css
* 	Stylesheet for radically improving the Serials Solutions 360Link Link Resolver
*
*	For more information, see http://github.com/gvsulib/360Link-Reset
* 
*	Author: Matthew Reidsma, reidsmam@gvsu.edu, @mreidsma
*	Version 3.0
*/

table#ContentAvailableTable,
span.SS_ContentHeading, 
img.CellSpacer, 
p#RefinerLink2, 
td.BorderW, 
tr.LinePadRow, 
td.BorderE, 
td.CornerNW, 
td.BorderN img, 
div#RefinerLink0, 
td.CornerSE, 
td.CornerSW, 
td.BorderS, 
td.BorderW,
div.SS_NoResults {
	/* Cruft cruft cruft! Stop the insanity */
	display: none; 
}
#cms-content a { color: #1F65A0;}
table {
	border-collapse: collapse;
	display: inline-table;
}
table, table tr, table td {
	border: none;
}
#CitationResults,
#citation
 {
	line-height: 1.5em;
} 
td.CitationValue div {
	font-weight: normal;
}
#CitationJournalTitleValue, 
#CitationBookTitleValue,
#citation-title {
	font-style: italic;
}
td.CitationLabel {
	color: #777;
	font-weight: bold;
	width: 5em;
}
td#CitationJournalIssnValue, 
td#CitationJournalVolumeValue {
	width: 25%; 
}
#SearchResults {
	margin: 1em 0; 
	width: 100%;
}
a#refworks {
	background: transparent url(img/refworks-logo.gif) top left no-repeat;
	border: 0;
	display: inline-block;
	height: 0;
	left: 10px;
	overflow: hidden;
	padding-top: 20px;
	position: relative;
	top: 4px;
	width: 102px;
}
div#ArticleCL a,
div#JournalCL a,
a.article-button,
a.journal-button {
	display: inline-block;
	padding: 6px 15px; 
	text-align: center; 
	text-decoration: none; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	khtml-border-radius: 4px; 
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
}
div#ArticleCL a,
a.article-button {
	background: #0090D2; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #52a8e8), color-stop(1, #2e76cf)); 
	background: -moz-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%); 
	border: 1px solid #4081af; 
	border-bottom-color: #20559a; 
	color: #fff !important; 
	margin: 0;
	text-shadow: 0 -1px 0 rgba(0,0,0,.3); 
}	
div#JournalCL a,
a.journal-button {
	background: #eee; 
	border: 1px solid #777; 
	border-bottom-color: #333; 
	color: #343434 !important; 
	margin: 0 .5em 0 2em; 
}
table#JournalLinkTable {
	width: 95% !important;
	margin-top: .5em;
	font-size: 1.3em; 
}
td div#DateCL {
	margin-left: 2em;
	color: #333; 
}
div#DatabaseCL a,
a.SS_DatabaseHyperLink { 
	/* Don't make the database names look like links! */
	color: #000 !important;
	cursor: text !important;
	display: inline-block;
	padding: .5em .3em; 
	text-decoration: none; 
}
#ContentNotAvailableTable {
	font-size: 1.2em; 
}
#ContentNotAvailableTable a {
	color: #069;
	text-decoration: none; 
}
	
/* ####################################### */	
/* Below are styles for the 360Link Reset JavaScript */
#link-reset-wrapper {
	line-height: 1.5em;
	padding: 0 1em !important;
}
#citation {
	margin-bottom: 1.5em;
}
.edit-link {
	background: transparent url(//gvsuliblabs.com/labs/360link-reset/img/pencil.png) top left no-repeat;
	border: 0;
	display: inline-block;
	padding: 0 .5em;
	text-indent: -9999px;
}
p.lib-big-text { 
	font-size: 120%;
	font-weight: bold;
	margin-top: 2em;
}
#top-result,
#next-step {
	margin-top: 2em; 
}
#next-step li {
	margin-top: 1em; 
}
#top-result li {
	font-size: 1.2em;
	margin-bottom: 1em; 
}
ul#top-result,
.event-body ul,
#next-step ul {
	list-style: none;
	margin:0;
	padding:0; }

#next-step ul li a {
	text-decoration: none; 
}
#next-step {
	border-top: 1px solid #ddd; 
}
span.holding-details {
	color: #575757 !important;
	display: inline-block;
	font-size: 12px !important;
	text-decoration: underline;
	font-weight: normal !important;
	cursor: pointer;
}
.event-head {
	color: #1F65A0;
	cursor: pointer;
	margin: .8em 0; 
}

.event-body ul li a {
	text-decoration: none;
	font-weight: bold; 
}
.event-body h4 {
	background: #ddd;
	padding: .3em .5em; 
}
.tooltip {
	background: #eee;
	border: 1px solid #bbb;
	font-size: .8em;
	padding: 1em 3%;
	width: 94%;
}
#doc-del-tooltip{
	background-color:#0065A4;
	color: #fff;
	height:10em;
	margin-left:-12.5em;
	margin-top:-3em;
	overflow:auto;
	padding:2em; 
	position:absolute;
	right:0;
	top:25%;
	width:21em;
	z-index:1002;
}
a.doc-del-problem {
	color: #fff !important;
	font-size: .8em;
}
#doc-del-tooltip .lib-button-grey {
	margin-top: 1.5em;
	margin-bottom: .5em;
}
span#cancel-doc-del {
	cursor: pointer;
	display: inline-block;
	float: right;
	margin-top: 3em;
	text-decoration: underline;
}
#library-chat a {
	padding: .65em .85em .65em 3em !important;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA8klEQVQ4y2NgoAWIPhHNl3I6xSH1TGoRkK5KPpXskXgoUZQYvYxATRmpp1M/pZ1J+4+Gf6WeSm323ObJjlNz2um0TVg0omCgBRdjd8ZyY+gGai4kpBnJkFkompOPJQsBJX4QawAIp5xIMYYbkHoy1Z0UzWADTqcUIDu/GqtTT6fi88YSZANySHUBUM8URBicTjYj2YAzafFwA0JXhbIBnXuP6FgAppOkI0lSqDFxOtkaKPGHqAA8lZKINSUBU1oqUMFXPDb/AQZeG960nHQ6SQmoaB1QwzukEP8CpPcBLTAlKVMlHE9QAGrUYGhgYGKgFQAAoot2F4Rm8VoAAAAASUVORK5CYII=') !important;
	background-position: 10% 50%;
	background-repeat: no-repeat;
}
#cms-content a { color: #1F65A0; text-decoration: none;}
a.btn.btn-primary, .btn.btn-primary a { color: #fff !important;}
a.btn.btn-default, .btn.btn-default a { color: #333 !important; }