/* Link Resolver styles */
/* If javascript is not avaialable. these styles will improve the 360 Link layout dramatically. */
/* If javascript is available, the 360Link Reset script will rewrite the page with semantic HTML */
/*  */
/* For more info on 360Link Reset, visit http://gvsu.edu/library/360linkreset */


/* Styles for javascript disabled */

table {
	border-collapse: collapse;
	display: inline-table;
}

table, table tr, table td {
	border: none;
}

div#CitationResults {
	font-size: 1.1em;
	line-height: 1.5em;
	padding: 0 1em !important;
} 

td.CitationValue div {
	font-weight: normal;
}

#CitationJournalTitleValue, 
#CitationBookTitleValue {
	font-style: italic;
}

td.CitationLabel {
	width: 5em;
	color: #777;
	font-weight: bold;
}

td#CitationJournalIssnValue, td#CitationJournalVolumeValue {
	width: 25%; }

#SearchResults {
	width: 100%;
	margin: 1em 0; }

a#refworks {
	display: inline-block;
	padding-top: 20px;
	border: 0;
	height: 0;
	width: 102px;
	background: transparent url(../img/refworks-logo.gif) top left no-repeat;
	position: relative;
	top: 4px;
	left: 10px;
	overflow: hidden; }

div#ArticleCL a,
div#JournalCL a,
a.article-button {
	display: block;
	padding: 6px 15px; 
	text-align: center; 
	text-decoration: none; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	khtml-border-radius: 4px; 
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); }

	

div#ArticleCL a,
a.article-button {
	background: #0090D2; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #52a8e8), color-stop(1, #2e76cf)); 
	background: -moz-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%); 
	border: 1px solid #4081af; 
	border-bottom-color: #20559a; 
	color: white; 
	margin: 0;
	text-shadow: 0 -1px 0 rgba(0,0,0,.3); }
	
div#JournalCL a {
	background: #999; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #ddd), color-stop(1, #999)); 
	background: -moz-linear-gradient(center top, #ddd 20%, #999 100%);
	border: 1px solid #777; 
	border-bottom-color: #333; 
	color: #343434; 
	margin: 0 .5em 0 2em; }

table#JournalLinkTable {
	width: 95% !important;
	margin-top: .5em;
	font-size: 1.3em; }

td div#DateCL {
	margin-left: 2em;
	color: #333; }

div#DatabaseCL a,
a.SS_DatabaseHyperLink { 
	/* Don't make the database names look like links! */
	color: #000 !important;
	cursor: text !important;
	display: inline-block;
	padding: .5em .3em; 
	text-decoration: none; }

#ContentNotAvailableTable {
	font-size: 1.2em; }

#ContentNotAvailableTable a {
	color: #069;
	text-decoration: none; }
	
table#ContentAvailableTable,
span.SS_ContentHeading, 
img.CellSpacer, 
p#RefinerLink2, 
td.BorderW, 
tr.LinePadRow, 
td.BorderE, 
td.CornerNW, 
td.BorderN img, 
div#RefinerLink0, 
td.CornerSE, 
td.CornerSW, 
td.BorderS, 
td.BorderW,
div.SS_NoResults {
	/* Cruft cruft cruft! Stop the insanity */
	display: none; }

/* ####################################### */	
/* Below are styles for javascript enabled */

p.lib-big-text { 
	margin-top: 2em;
	font-size: 120%;
	font-weight: bold; }

#top-result,
#next-step {
	margin-top: 2em; }

#next-step li {
	font-size: 1.4em;
	margin-top: 1em; }

#top-result li {
	font-size: 1.6em;
	margin-bottom: 1em; }

ul#top-result,
.event-body ul,
#next-step ul {
	list-style: none;
	margin:0;
	padding:0; }

#next-step ul li a {
	text-decoration: none; }

#next-step {
	border-top: 1px solid #ddd; }

a.holding-details {
		font-size: 1em !important; }

.event-head {
	color: #1F65A0;
	font-size: 1.4em;
	cursor: pointer;
	margin: .8em 0; }

.event-body ul li {
	font-size: 1.3em;
	margin-bottom: .8em; }

.event-body ul li a {
	text-decoration: none;
	font-weight: bold; }

.event-body h4 {
	background: #ddd;
	padding: .3em .5em; }

.holding-details:hover {
	background-position:0 -44px ; }

/* clicked state */
.holding-details:focus {
	background-position:0 -88px; }

.tooltip {
	display: none;
	background: #eee;
	height:5em;
	padding:1em;
	width:13em;
	font-size:.8em;
	color:#333;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); }